---
layout: blog
title: Tags
permalink: /tags/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-9">

        <! -- BLOG POSTS LIST -->
        {% for tags in site.tags %}{% unless tags.first == "blog" %}

                <a class="anchor" id="{{ tags.first }}"></a><h4>{{ tags.first }}</h4>
                    <div class="hline"></div>
                    <ul class="popular-posts">
                        {% for post in site.tags[tags.first] %}

                            <li>
                                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                                <em>Posted on {{ post.date | date_to_string }}</em>
                            </li>

            {% endfor %}
                                                </ul>


        {% endunless %}{% endfor %}
        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->